<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Balance Sheet</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $('body').addClass('loaded');
            $('a').on('click', function(e) {
                e.preventDefault();
                var link = $(this).attr('href');
                $('body').removeClass('loaded');
                setTimeout(function() {
                    window.location.href = link;
                }, 500);
            });
        });
    </script>
</head>
<body>
<div class="container">
    <h1 class="mt-5 form-heading">Balance Sheet</h1>
    <table class="table table-striped mt-3">
        <thead>
        <tr>
            <th>Name</th>
            <th>Amount</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="expense : ${expenses}">
            <td th:text="${expense.name}"></td>
            <td th:text="${expense.amount}"></td>

        </tr>
        </tbody>
    </table>
    <h4>Total Expenses: <span th:text="${totalAmount}"></span></h4>
    <a href="/downloadBalanceSheet" class="btn btn-success mt-3">Download Balance Sheet</a>
    <a href="/" class="btn btn-primary mt-3">Back to Home</a>
</div>
</body>
</html>
